---
export const prerender = false;
import BaseHead from "../../components/BaseHead.astro";
import BlogHeader from "../../components/BlogHeader.astro";
import { getCollection } from "astro:content";
import "../../styles/global.css";
import BlogArticle from "../../components/BlogArticle.astro";
import Footer from "../../components/Footer.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

// Estrai tutti i tag unici dai post
const allTags = Array.from(
  new Set(posts.flatMap((post) => post.data.tags || []))
).sort();

// Ottieni i tag selezionati e la query di ricerca dalla query string
const searchQuery = Astro.url.searchParams.get("q")?.toLowerCase() || "";
const selectedTags = Astro.url.searchParams.get("tags")
  ? Astro.url.searchParams.get("tags")!.split(",")
  : [];

// Filtra i post in base ai tag selezionati
let filteredPosts = selectedTags.length
  ? posts.filter((post) =>
      selectedTags.every((tag) => post.data.tags?.includes(tag))
    )
  : posts;

if (searchQuery) {
  filteredPosts = filteredPosts.filter(
    (post) =>
      post.data.title.toLowerCase().includes(searchQuery) ||
      post.data.description.toLowerCase().includes(searchQuery) ||
      post.data.tags?.some((tag) => tag.toLowerCase().includes(searchQuery))
  );
}

const filterOpen = Astro.url.searchParams.get("tags") !== null;
const searchOpen = Astro.url.searchParams.get("q") !== null;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title="Posts" description="vallasc.com posts" />
  </head>
  <body class="serif-text bg-[#fbf9f7]">
    <div class="min-h-screen">
      <div class="mx-auto max-w-3xl px-4 py-6 pt-20">
        <BlogHeader />

        {/* Main Content */}
        <main class="py-12">
          <div class="mb-6 flex justify-between items-center">
            <h1 class="text-4xl font-semibold">Posts</h1>
            <div>
              <a
                href="?q="
                class={`p-2 rounded-md ${filterOpen || searchOpen ? "hidden" : ""}`}
              >
                Search
              </a>
              <a
                href="?tags="
                class={`p-2 rounded-md ${filterOpen || searchOpen ? "hidden" : ""}`}
              >
                Filter
              </a>
            </div>
            <a
              href="/blog"
              class={`px-4 py-2 rounded-md text-red-800 ${
                filterOpen || searchOpen ? "" : "hidden"
              }`}
            >
              Clear
            </a>
          </div>

          {/* Sezione per il filtro */}
          <div id="tags" class={`mb-6 ${filterOpen ? "" : "hidden"}`}>
            <!-- <h2 class="text-2xl font-semibold mb-4">Tags</h2> -->
            <div class="flex flex-wrap gap-2">
              {
                allTags.map((tag) => {
                  const isSelected = selectedTags.includes(tag);
                  const updatedTags = isSelected
                    ? selectedTags.filter((t) => t !== tag) // Rimuovi il tag
                    : [...selectedTags, tag]; // Aggiungi il tag

                  return (
                    <a
                      href={`?tags=${updatedTags.join(",")}`}
                      class={`px-4 py-2 rounded-none font-mono 
                        text-sm font-medium leading-[1] pt-[0.8rem] ${
                          isSelected
                            ? "bg-red-800 text-white"
                            : "bg-gray-200 hover:bg-gray-300"
                        }`}
                    >
                      {tag}
                    </a>
                  );
                })
              }
            </div>
          </div>

          {/* Sezione per la ricerca */}
          <div class={`mb-6 ${searchOpen ? "" : "hidden"}`}>
            <form
              method="GET"
              action={Astro.url.pathname}
              class="flex items-center gap-2"
            >
              <input
                type="text"
                name="q"
                placeholder="Search posts..."
                value={Astro.url.searchParams.get("q") || ""}
                class="flex-grow px-4 py-2 border border-gray-300 focus:ring-1 focus:ring-red-700
                focus:outline-none font-sans text-sm"
              />
              <button
                type="submit"
                class="px-4 py-2 bg-red-800 text-white rounded-none hover:bg-red-700 font-mono
                text-sm leading-[1.1] pt-[0.8rem]"
              >
                SEARCH
              </button>
            </form>
          </div>

          {/* Sezione per la lista dei post */}
          <div class="mt-12 space-y-10">
            {
              filteredPosts.map((post) => (
                <div
                  x-title={`${post.data.title}`}
                  x-desc={`${post.data.description}`}
                >
                  <BlogArticle
                    id={post.id}
                    title={post.data.title}
                    description={post.data.description}
                    pubDate={post.data.pubDate}
                    lang={post.data.lang}
                    readTime={post.data.readTime}
                    tags={post.data.tags}
                  />
                </div>
              ))
            }
          </div>
        </main>
      </div>
      <Footer />
    </div>
  </body>
</html>
