---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Blog from "../layouts/Blog.astro";
import ArticleCover from "../components/ArticleCover.astro";

type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  coverImage,
  coverImageDescription,
  readTime,
  showPubDate = true,
  showComments = true,
  lang = "en",
} = Astro.props;


---

<Blog
  title={title}
  description={description}
  enableComments={showComments}
  lang={lang}
>
  <main class="py-10 mb-10">
    {
      coverImage ? (
        <div class="mb-10">
          <ArticleCover
            image={coverImage}
            description={coverImageDescription || ""}
          />
        </div>
      ) : (
        <div class="mb-10" />
      )
    }
    <!-- <img src="/blog/covers/fx3.jpg" alt="Cover image" class="w-full h-64 object-cover rounded-none mb-8" /> -->
    <div class="space-y-2 group">
      <h1 class="text-4xl font-semibold cursor-pointer">
        {title}
        <div class="inline text-red-800 hidden group-hover:inline">;</div>
      </h1>
      {
        showPubDate && (
          <p class="text-gray-500 sans-text font-mono">
            <FormattedDate date={pubDate} /> - {readTime} min
          </p>
        )
      }
    </div>
    <div class="blog-content">
      <slot />
    </div>
  </main>
</Blog>
